/*
Colors used:
Fonts used: 
Poppins
Nunito Sans
h1
h2
h3
h4
p
*/

main{
    background-color:#ffffff;
    width: 100%;
}
body{
  width: 100%;
  margin: 0px;
  padding: 0px;
}
img {
    width: 100%;
}
.left-hero{
  margin-left: -15px;
}
.hero {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
}
a {
    color: #ff7f50;
    text-decoration: none; /* No underlining */
  }
  a:visited { /* visited link */
    color: #ff7f50;
  }
  a:active { /* selected link */
    color: #994c30;
  }
  a:hover {
    color: #cc6540;
    text-decoration: none; /* Underlining when hovering over a link */
  }
  a:focus {
    color: #cc6540;
    text-decoration: underline;
  }
h1{
    font-family: 'Poppins';
    font-size:4.5em;
    text-align: center;
}
h2{
    font-family: 'Poppins';
    font-size:4em;
    text-align: center;
    padding: 25px 0 25px 0;
}
h3{
    font-family: 'Poppins';
    font-size:3em;
    text-align: center;
    padding: 25px 0 25px 0;
}
h4{
    font-family: 'Poppins';
    font-size:2em;
    text-align: center;
    padding: 25px 0 25px 0;

}
p {
    font-family: 'Poppins';
    font-size:16px;
    line-height: 1.4;
}
h1 + p {
  margin-top: 20px;
}
ul {
    padding: 0 0 25px 0;
    margin: 0 50px 0 0;
    list-style-type: none;
    padding: 0;
}
li {
    float: left;
    margin-bottom: 10px;
}
ul a {
    color: #000000;
    text-decoration: none;
    width: 100px;
    padding: 50px 0 0 0;
    margin: 0 50px 0 0;
    font:inherit;
    text-transform: uppercase;
    font-size: .75em;
    text-decoration: none;
    color: #000000;
  }
div{
    width:100%;
    height:auto;
    padding:1em;
  }
section {
    padding:5%;
    margin:5px;
}
header {
    width:100%;
    margin: 0 0 100px 0;
    padding: 0;
}
.navigation {
    list-style-type: none;
  }
#logo{
  font-family: 'Nunito Sans', sans-serif;
  color: #db00e7;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1em;
}
#menu{
    height: 70.5325px;
    position: fixed;
    top: 0;
  }
.flex-container {
    flex-flow: nowrap;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  row{
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .button {
    display: inline-block; 
    background-color: #ff7f50;
    color: #ffffff; 
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #994c30;
    transition: 0.2s opacity;
    font-family: "Poppins";
  }
  .button:hover {
    opacity: 0.8; 
    text-decoration: none;
  }
  .button:active{
    background-color: aqua;
  }
  .button.contact {
    background-color: transparent;
    color: #ff7f50;
    text-transform: uppercase;
    border: 2px solid #ff7f50;
  }
  .button.contact:hover {
    background-color: #ff7f50;
    color: #ffffff;
  }
  .button.contact:active{
    background-color: aqua;
  }