/*
Colors used:
Orange - #E55D4C
Light Blue - #D3E5E5
Mustard - #E8BA5C
Off black - #333333
Peach - #F7CACB
Fonts used: 
font-family: 'Archivo Narrow', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Source Sans 3', sans-serif;
*/
/* Layout Styling */
.flex-container {
  min-width: fit-content;
  flex-flow: nowrap;
  display: flex;
  justify-content: flex-start;
  }
.container-hero{
  width: 100%;
  margin: 0;
}
.row {
 padding-right: 0 ;
 padding-left:0;
}
.col-12 {
  padding-right: 0 ;
  padding-left:0;
}
.container{
  min-width: fit-content;
}
main{
  width: 100%;
  padding-top: 100px;
  margin: 0 0 0 0;
}
* {
  box-sizing: border-box;
}
.case-study-teasers-row {
  display: block;
  min-width: 100%;
}
.case-study-teasers-row col{
  min-width: fit-content;
}
.case-study-teasers-row picture{
  display: block;
  overflow: hidden;
  min-width: fit-content;
  margin: 0;
  padding: 0;
}
body{  
  min-width: fit-content;
  font-size: 16px;
}
header {
  background-color: white;
  text-align: center;
  width: 100%;
}
h1{
  font-family: 'Julius Sans One';
  font-size: 42pt;
  color: #333333;
  text-indent: -4px;
  font-weight: 200;
}
h2{
  font-family: 'Archivo Narrow';
  color: #EF540F;
  font-size:14pt;
  font-weight: 200;
  letter-spacing: 500;
  text-transform: uppercase;
}
h3{
  font-family: 'Archivo Narrow';
  color: #E55D4C;
  font-size: 18px;
  font-weight: 400;
}
h4{
  font-family: 'Nunito Sans';
  font-size: 1em;
  text-transform: uppercase;
  color:#EF540F;
}
p{
  font-family: 'Source Sans 3';
  font-size: 18px;
  line-height: 1.4;
}
h1 + p {
  margin-top: 20px;
}
img.linkedin {
  max-width: 30px;
  margin-top: 10px;
}
.copyright{
  margin-top: 10px;
}
a {
  color: black;
  text-decoration: none;
}
a:active {
  color: #994c30;
  text-decoration: none;
}
a:hover {
  color: #cc6540;
  text-decoration: none;
}
a:focus {
  color: #cc6540;
  text-decoration: none;
}
nav {
  display: inline-block;
  width: 100%;
}
nav > ul {
  text-transform: uppercase;
  font-size: .75em;
  list-style-type: none;
  text-decoration: none;
}
nav > ul > li {
  padding: 0 25px 0 0;
  display: inline-block;
}
nav > ul > a {
  text-decoration: none;
  font-family: 'Nunito Sans, sans';
  color: #4d4c4c;
}
#work { 
  padding-bottom: 25px; 
  width: 100%;
}
#mystory{
  text-align: left;
}
#skillsandtools{
  text-align: left;
}
#mystory {
  margin: 0 auto;
}
.logo-div {
  padding-top: 20px;
}
.logo {
  font-family: 'Nunito Sans', sans-serif;
  color: #E55D4C;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
  max-width: 250px;
  text-align: center;
}
.work-section-header-text {
  background-color: #f042f9;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 25px;
}
.work-section-header-image{
  margin: 0 auto -55px;
}
div.work-section-header-text h2{
  font-size: 3em;
  padding: 0 25px 25px 25px;
  color: white;
  margin: 0;
}
#work h3{
  margin: 0;
  color: white;
  padding-top:25px;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-weight: 700px;
  font-size: 1em;
}
div.work-section-header img{
  max-width: 65%;
}
div.case-study-teasers-row h3 {
  font-size: 2.5em;
  color: #f042f9;
  font-weight: 700px;
  padding-top: 15px;
  text-align: center;
}
.teaser{
  display: block;
  min-width: fit-content;
  object-fit: fill;
}
div.case-study-teasers-row picture{
  min-width: fit-content;
  object-fit: fill;
}
div.case-study-teasers-row p{
  font-size: 1.25em;
  color: black;
  font-weight: 700px;
  padding: 0 15px 0 15px;
  text-align: center;
}
div.case-study-teasers-row h4{
  font-size: 1.5em;
  color: #f042f9;
  font-weight: 700px;
  padding: 0 15px 0 15px;
  text-align: center;
}
div.case-study-teasers-row h2{
  font-size: 1.25em;
  color: black;
  padding: 0 15px 15px 15px;
  text-align: center;
}
.tools-and-skills-teaser {
  font-size: 1em;
  color:#f042f9;
  font-weight: 700px;
  padding: 0 15px 0 15px;
  text-align: center;
  list-style-type: none;
}
.center {
  text-align: center;
}
.case-study-teasers {
  min-width: fit-content;
  margin: 0 auto;
}
/* .case-study-header-image img{
  width: 100%;
  height: 100%;
  object-fit: fill;
} */
.case-study-header-intro{
  padding: 50px;
}
.bio-image-index img{
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.about-hero{
  top: 0;
}
.about-bio-image{
  display: inline-block;
  position:relative;
  width: 100%;
  top: 0;
}
.about-my-story{
  position: relative;
  max-width: 85%;
  top: -200px;
  left:10%;
  background-color: white;
}
.name-circle img{
  z-index: 4;
  position: absolute;
  left: 60%;
  top: 250px; 
  max-width: 150px;
}
.my-story-text{
  padding-top: 100px;
  margin-left: 25px;
  margin-right: 15px
}
.my-story-text h2 {
  font-size: 3em;
  text-align: center;
}
p.my-story {
  line-height: 1.5;
  font-size: 1.4em;
  margin-top: 25px;
}
h2.skills-and-tools-about{
  text-transform: uppercase;
  color: #db00e7;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 5px;
}
.hero-row{
  width: 100%;
  margin: 0;
  padding: 0;
}
ul.skills-and-tools-list{
  list-style-type: none;
  font-size: 1.5em;
}
div.skills-and-tools-block{
  border-bottom: 1px solid #b6b4b4;
  padding-bottom: 25px;
  padding-top: 25px;
}
.hero-intro-text{
  width: 85%;
  margin: -55px auto;
  padding-top: 5%;
  padding-left: 25px;
  background-color: white;
}
.hero-intro-style {
  padding-left: 10%;
  text-align: left;
}
.hero{
  margin-bottom: 55px;
}
.case-study-teasers {
  background-color:   white;
  top: 250px;
  margin-right: 0;
  margin-left:0;
}

p.hero-intro-style {
  padding-top:5%;
  padding-left:15%;
  font-size: 1em;
  text-transform: uppercase;
  color: #ff7f50;
}
/* h2.hero-intro-style {
  color: rgb(98, 98, 98);
  font-size: 3em;
  font-weight: 700;
  padding-bottom: 5%;
  padding-left:15%; */
/* } */
h3.hero-intro-style{
  color: rgb(98, 98, 98);
  font-size: 1.25em;
  font-weight: 400;
  padding-bottom: 5%;
  padding-left:15%;
}
.footer {
  margin-top: 100px;
}
.about-cv-button{
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block; 
  background-color: #ff7f50;
  color: white; 
  font-size: .75em;
  letter-spacing: .15em;
  margin: 0;
  padding: 25px;
  transition: 0.2s opacity;
}
.about-cv-button a{
  margin: 0;
}
.about-hero-bg img{
  max-width: 100%;
}
.hero-button {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block; 
  background-color: #E55D4C ;
  color: white; 
  font-size: .75em;
  letter-spacing: .15em;
  margin: 10px 0 100px 0;
  padding: 25px;
  transition: 0.2s opacity;
}
.cv-button {
  text-decoration: none;
  display: inline-block; 
  background-color: #db00e7;
  color: white; 
  font-size: 1em;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}
.button {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block; 
  background-color: #E55D4C;
  color: white;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 110;
  margin: 0 auto 0 auto;
  padding: 25px;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; 
  text-decoration: none;
}
.button:active{
  background-color: aqua;
}
.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}
.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}
.button.contact:active{
  background-color: aqua;
}